@import "tailwindcss";

:root {
  --font-one: "Space_Grotesk", sans-serif;
  --font-two: "JetBrains_Mono", monospace;
  --bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --text-primary: #4e201c;
  --text-secondary: #744b40;
  --accent: #8b4d3f;
  --accent-opacity: #783b2e2a;
  --bg-color: #eae5db;
  --elevation-one: #e3dcd1;
  --elevation-two: #e3dcd175;
  --elevation-three: #92797340;
  --elevation-four: #d5c8bb;
  --elevation-five: #dfd8ccce;
  --elevation-six: #dbd4d09e;
}

.dark {
  --font-one: "Space_Grotesk", sans-serif;
  --font-two: "JetBrains_Mono", monospace;
  --bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --text-primary: #eed1c7;
  --text-secondary: #bda3a3;
  --accent: #dba895;
  --accent-opacity: #dba8952a;
  --bg-color: #171212;
  --elevation-one: #211c1c;
  --elevation-two: #211c1c75;
  --elevation-three: #1e1a1a;
  --elevation-four: #7b73733a;
  --elevation-five: #1f1919ca;
  --elevation-six: #0a0808bb;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
